#pubs{
	text-align: left;
	font-family: Helvetica, sans-serif;
	line-height: 1.1;
}

/* The title */
#pubs span b{
	font-size: 110%;
	font-weight: bold;
	display: block;
}

/* Everything after Title */
#pubs span i{
	font-size: 80%;
}

/* Authors */
#pubs span i:nth-of-type(1){
	display: block;
	font-style: normal;
}

/* Venue, Locators, Pages */
#pubs span i:nth-of-type(2), #pubs span i:nth-of-type(3), #pubs span i:nth-of-type(4){
	display: inline;
	font-style: italic;
}

/* Date */
#pubs span i:nth-of-type(5){
	display: block;
	font-style: normal;
}

.showlink {
	position: inherit;
	width: 80%;
	text-align: left;
	font-size: 80%;
}

.pubabstract {
	font-size: 12px;
	/*width: 75%;*/
	display: none;
	padding-bottom: 15px;
	padding-top: 15px;
}

.pubcloudthumb {
	float: right;
	font-size: 8pt;
	font-style: italic;
	border: inset;
	border-width: 1px;
	border-color: #9999ff;
}

.pubcloud {
	clear: right;
	text-align: center;
	display: none;
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 8pt;
	font-style: italic;
}

.pubcloud.shown{
	display: inline;
}

.pubcloud canvas{
	width: 100%;
}

.pubtoc {
	font-size: 80%;
	font-weight: bold;
}

.pubtoc ul {
	list-style: none;
	margin-left: 5px;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.pubtoc li {
	margin-top: 0;
	margin-bottom: 0;
	line-height: normal;
	font-weight: normal;
}

.pubanchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

/* highlight selected */
.pubanchor:target + .well{
	border-left: 5pt solid #aaa;
}