---
layout: publication
category: publications
toc: MSR 2015
tags: conference
pub_id: CamiloMSR2015
---

{% reference CamiloMSR2015 %}


<div><i class="fa fa-trophy"></i> ACM Distinguished Paper</div>
<div><i class="fa fa-trophy"></i> Best Paper MSR 2015</div>

{% include pub_links.html %}

<div id="{{page.pub_id}}_abstract" class=pubabstract>
	{% abstract %}
</div>

<div id="{{page.pub_id}}_bibtex" class=pubabstract>
	<pre> {% show_bibtex pub_id %} </pre>
</div>

{% include pub_wordcloud.html %}